<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general.html :: headfragment">
<body>

<div th:replace="fragments/general.html :: pageHeadByRole"/>

<h3>Wymiana opon</h3>

<form action="#" th:action="@{'/wymiana_opon/result/{carId}'(carId=${carId})}"  modelAttribute="tireList" th:method="post">

    <select class="form-select width-250 form-control " th:field="*{tire.id}" style="min-width:150px;">
        <option th:each="tempTire : ${tireList}"
                th:value="${tempTire.id}"
                th:text="${tempTire.producer} + ' ' +  ${tempTire.size} + ' ' + ${tempTire.season}">
        </option>
    </select>

    <input class="width-250 btn btn-success" type="submit" value="Dodaj nową naprawe"/>

</form>

</body>
</html>